<footer id="layout-footer">
    <div>
        <p>
             About Us:
             Webingo-Connect provides you a better social connection!
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <i class="fa-solid fa-house"></i>
                <li>
                    <a href="/">Home</a>
                </li>
                
            </ul>
        </nav>
    </div>
</footer>
<script src="https://kit.fontawesome.com/c8606d24cd.js" crossorigin="anonymous"></script>